body {
  background-color: #030303;
  color: #1ca152;
  font-family: "Gemunu Libre", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95vh;
}
.coluna {
  background-color: #008529;
  color: white;
  margin: 0 auto;
  text-align: center;
}
.controlador {
  color: white;
  display: flex;
  justify-content: center;
  background-color: #008529;
}
.controlador__input-teto,
.controlador__button-gerar {
  border: none;
  background-color: #008529;
  color: white;
  font-size: 25px;
  margin: 1px 10px;
  text-align: center;
}
.controlador__input-teto {
  width: 50%;
  border-bottom: solid #ffffff;
}
.controlador__titulo {
  font-size: 35px;
  padding: 5px;
}
.grafico {
  align-items: flex-end;
  display: flex;
  border: solid #008529;
  height: 100%;
}
.titulo-principal {
  font-size: 65px;
  margin: 5px;
}
